@using EventPlaining.ViewModel.UserViewModels
@{
    EditProfileViewModel edvm = Model;
    ViewBag.Title = "Редактирование профиля";
    Layout = "_Layout";
}

<h2 style="text-align: center;">Редактирование профиля | <a asp-action="Profile" asp-route-id="@edvm.UserInSession.Id">Назад к профилю</a></h2>
@if (edvm.SuccessStatus)
{
    <div  class="form-at-center edit-profile-form">
        <form method="post" asp-controller="User" asp-action="SubmitEditProfile">
            <button class="submit-event-button" type="submit">Сохранить</button>
            <div>
                <label>Имя</label>
                <input type="text" name="FirstName" value="@edvm.Profile.FirstName"/>
            </div>
            <div>
                <label>Фамилия</label>
                <input type="text" name="SecondName" value="@edvm.Profile.SecondName"/>
            </div>
            <div>
                <label>Возраст</label>
                <input type="number" name="Age" value="@edvm.Profile.Age"/>
            </div>
            <div>
                <label>Пол</label>
                <input type="text" name="Sec" value="@edvm.Profile.Sec"/>
            </div>
            <div>
                <label>Номер мобильного телефона</label>
                <input type="tel" name="PhoneNumber" value="@edvm.Profile.PhoneNumber"/>
            </div>
            <div>
                <label>Место работы</label>
                <input type="text" name="WorkPlace" value="@edvm.Profile.WorkPlace"/>
            </div>
            <div>
                <label>Место учебы</label>
                <input type="text" name="EducPlace" value="@edvm.Profile.EducPlace"/>
            </div>
            <div>
                <label>О себе</label>
                <textarea rows="4" name="About" value="@edvm.Profile.About"></textarea>
            </div>
            <input type="hidden" name="Id" value="@edvm.Profile.Id"/>
        </form>
    </div>
}
else
{
    <div>@edvm.Message</div>
}
