
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Ваш Профиль</h2>
@if (Model.SuccessStatus)
{
    User user = Model.User;
    
    <div class="profile-info form-at-center">
        <button asp-controller="User" class="submit-event-button" asp-action="EditProfile" asp-route-id="@user.ProfileId">Редактировать Профиль</button>
        <button asp-controller="User" class="submit-event-button" asp-action="EditUser" asp-route-id="@user.Id">Редактировать Учетную запись</button>
        <div>
            <div>Логин:</div>
            <div>@user.LogInName</div>
        </div>
        <div>
            <div>Почта:</div>
            <div>@user.Email</div>
        </div>
        <div>
            <div>Имя:</div>
            <div>@user.Profile.FirstName</div>
        </div>
        <div>
            <div>Фамилия:</div>
            <div>@user.Profile.SecondName</div>
        </div>
        <div>
            <div>Номер мобильного телефона:</div>
            <div>@user.Profile.PhoneNumber</div>
        </div>
        <div>
            <div>Пол:</div>
            <div>@user.Profile.Sec</div>
        </div>
        <div>
            <div>Место работы:</div>
            <div>@user.Profile.WorkPlace</div>
        </div>
        <div>
            <div>Место учебы:</div>
            <div>@user.Profile.EducPlace</div>
        </div>
    </div>
}
else
{
    <div>@Model.Message</div>
}
