@using Org.BouncyCastle.Crypto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Список участников @if(@Model.Events.VisitorsCount!=0){ <span>| Max: </span>@Model.Events.VisitorsCount} | <a asp-action="Index">К расписанию</a></h2>
<h3>Подтвердившие участие | @Model.Events.Visitors.Count</h3>
<div class="visitor-list">
    @if (Model.Events.Visitors.Count != 0)
    {
        foreach (Visitor vi in Model.Events.Visitors)
        {
            <div>
                <div>Имя: @vi.FirstName</div>
                <div>Фамилия: @vi.SecondName</div>
                <div>Возраст: @vi.Age</div>
                <div>Дополнительная информация: @vi.AboutInfo</div>
            </div>     
        }
    }
    else
    {
        <p>К сожалению на данный момент нет участников подтвердивших регистрацию</p>
    }
</div>
<h3>Не подтвердившие участие | @Model.NotSubmitedVisitors.Count</h3>
<div class="visitor-list">
    @if (Model.NotSubmitedVisitors.Count != 0)
    {
        foreach (NotSubmitedVisitor nvi in Model.NotSubmitedVisitors)
        {
            <div>
                <div>Имя: @nvi.FirstName</div>
                <div>Фамилия: @nvi.SecondName</div>
                <div>Возраст: @nvi.Age</div>
                <div>Дополнительная информация: @nvi.AboutInfo</div>
            </div>     
        }
    }
    else
    {
        <p>К сожалению на данный момент нет участников подавших заявку, но не подтвердивших регистрацию</p>
    }
</div>