@using EventPlaining.ViewModel.HomeVewModels


@{
    ViewData["Title"] = "EventPlaining";
    IndexViewModel ivm = Model;
}
<div class="heading">
    <h1>Расписание событий</h1>
    @if (ivm.UserInSession.Role == "Admin")
    {
        <a title="Добавить мероприятие" class="fas fa-plus" asp-controller="Admin" asp-action="AddEvent"></a>
    }
</div>

<div class="events-list">
    @foreach (Event ev in ivm.Events)
    {
        <div>
            <table id="@ev.Id">
                <tbody>
                <tr>
                    <td colspan="2" style="text-align: center; padding: 5px 0; font-size: 18px;">
                        @if (ivm.UserInSession.Role == "Admin")
                        {
                            <a title="Пользователи подписавшиеся на мероприятие" asp-controller="Admin" asp-action="EventFollowedUsers" asp-route-id="@ev.Id">@ev.EventName</a>
                        }
                        else
                        {
                            <span>@ev.EventName</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="left-col">Дата и время проведения</td>
                    <td class="right-col">@ev.EventDateTime.ToString("f")</td>
                </tr>
                @if (ev.VisitorsCount != 0)
                {
                    <tr>
                        <td class="left-col">Максимальное количество посетителей</td>
                        <td class="right-col">
                            <span id="followers-count-@ev.Id">@ev.EventsUsers.Count.ToString()</span>/@ev.VisitorsCount.ToString()
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td class="left-col">Максимальное количество посетителей</td>
                        <td class="right-col">Неограниченно</td>
                    </tr>
                }
                @if (ev.Params != null)
                {
                    string[] param = ev.Params.Split(';');
                    Dictionary<string, string> p = new Dictionary<string, string>();
                    foreach (string s in param)
                    {
                        if (s != "")
                        {
                            string[] r = s.Split(':');
                            p.Add(r[0], r[1]);
                        }
                    }

                    foreach (KeyValuePair<string, string> keyValue in p)
                    {
                        <tr>
                            <td class="left-col">@keyValue.Key</td>
                            <td class="right-col">@keyValue.Value</td>
                        </tr>
                    }
                }
                <tr>
                    <td colspan="2" style="text-align: center; padding: 5px 0;">
                        @if (Model.UserInSession.Role != "Default")
                        {
                            if (ev.EventsUsers.Any(eu => eu.UserId == ivm.UserInSession.Id))
                            {
                                <span type="button" title="Регистрация открыта" onclick="followOrCancelEvent(@ev.Id, event)" class="my-app-command-link">Отменить подписку</span>
                            }
                            else if (ev.VisitorsCount == ev.EventsUsers.Count&&ev.VisitorsCount!=0)
                            {
                                <span title="Регистрация на мероприятие закрыта" style="color: gray;">Подписаться на мероприятие</span>
                            }
                            else
                            {
                                <span type="button" title="Регистрация открыта" onclick="followOrCancelEvent(@ev.Id, event)" class="my-app-command-link follow-button">Подписаться на мероприятие</span>
                            }
                        }
                        else
                        {
                            <a title="Чтобы подписаться нужно войти в систему" asp-controller="User" asp-action="LoginForm" >Подписаться на мероприятие</a>
                        }
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    }
</div>
