
@{
    ViewData["Title"] = "Home Page";
}
<div class="heading">
    <h1>Расписание событий</h1>
    @if(Model.UserInSession.Role=="Admin"){
        <a title="Добавить мероприятие" class="fas fa-plus" asp-controller="Home" asp-action="AddEvent"></a>
    }
</div>

<div class="events-list">
    @foreach (Event ev in Model.Events)
    {
        <div>
            <table id="@ev.Id">
                <tbody>
                <tr>
                    <td colspan="2" style="text-align: center; padding: 5px 0; font-size: 18px;">
                    @if (Model.UserInSession.Role=="Admin")
                    {
                        <a title="Пользователи подписавшиеся на мероприятие" asp-action="EventVisitors" asp-route-id="@ev.Id">@ev.EventName</a>
                    }
                    else
                    {
                        <span>@ev.EventName</span>
                    }
                    </td>
                </tr>
                <tr>
                    <td class="left-col">Дата и время проведения</td>
                    <td class="right-col">@ev.EventDateTime.ToString("f")</td>
                </tr>
                @if (ev.VisitorsCount != 0)
                {
                    <tr>
                        <td class="left-col">Максимальное количество посетителей</td>
                        <td class="right-col">@ev.VisitorsCount</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td class="left-col">Максимальное количество посетителей</td>
                        <td class="right-col">Неограниченно</td>
                    </tr>
                }
                @if (ev.Params != null)
                {
                    string[] param = ev.Params.Split(';');
                    Dictionary<string, string> p = new Dictionary<string, string>();
                    foreach (string s in param)
                    {
                        if (s != "")
                        {
                            string[] r = s.Split(':');
                            p.Add(r[0], r[1]);
                        }
                    }

                    foreach (KeyValuePair<string, string> keyValue in p)
                    {
                        <tr>
                            <td class="left-col">@keyValue.Key</td>
                            <td class="right-col">@keyValue.Value</td>
                        </tr>
                    }
                }
                <tr>
                    <td colspan="2" style="text-align: center; padding: 5px 0;">
                        @if (ev.VisitorsCount==0)
                        {
                             if (Model.UserInSession.Role == "Default")
                             {
                                 <a title="Регистрация открыта" asp-controller="User" asp-action="Registration">Зарегистрироваться на мероприятие</a>
                             }
                             else
                             {
                                 <a title="Регистрация открыта" asp-controller="User" asp-action="FollowEvent" asp-route-id="@ev.Id">Зарегистрироваться на мероприятие</a>
                             }
                        }
                        else
                        {
                            <span title="Регистрация на мероприятие закрыта" style="color: gray;">Зарегистрироваться на мероприятие</span>
                        }
                    </td>
                </tr>
                <tfoot>
            </table>
        </div>
    }
</div>
