
@{
    ViewData["Title"] = "Home Page";
}
<div class="heading">
    <h1>Расписание событий</h1>
    <a title="Добавить мероприятие" class="fas fa-plus" asp-controller="Home" asp-action="AddEvent"></a>   
</div>

<div class="events-list">
    @foreach (Event ev in Model.Events)
    {
        <div>
            <table id="@ev.Id">
                <tbody>
                <tr>
                    <td colspan="2" style="text-align: center; padding: 5px 0; font-size: 18px;"><a asp-action="EventVisitors" asp-route-id="@ev.Id">@ev.EventName</a></td>
                </tr>
                <tr>
                    <td class="left-col">Дата и время проведения</td>
                    <td class="right-col">@ev.EventDateTime.ToString("f")</td>
                </tr>
                @if (ev.VisitorsCount != 0)
                {
                    <tr>
                        <td class="left-col">Максимальное количество посетителей</td>
                        <td class="right-col">@ev.Visitors.Count/@ev.VisitorsCount</td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td class="left-col">Максимальное количество посетителей</td>
                        <td class="right-col">Неограниченно</td>
                    </tr>
                }
                @if (ev.Params != null)
                {
                    string[] param = ev.Params.Split(';');
                    Dictionary<string, string> p = new Dictionary<string, string>();
                    foreach (string s in param)
                    {
                        if (s != "")
                        {
                            string[] r = s.Split(':');
                            p.Add(r[0], r[1]);
                        }
                    }

                    foreach (KeyValuePair<string, string> keyValue in p)
                    {
                        <tr>
                            <td class="left-col">@keyValue.Key</td>
                            <td class="right-col">@keyValue.Value</td>
                        </tr>
                    }
                }
                <tr>
                    <td colspan="2" style="text-align: center; padding: 5px 0;">
                        @if (ev.VisitorsCount > ev.Visitors.Count||ev.VisitorsCount==0)
                        {
                            <a title="Регистрация открыта" asp-controller="Home" asp-action="RegisterOnEvent" asp-route-id="@ev.Id">Зарегестрироваться</a>
                        }
                        else
                        {
                            <span title="Регистрация закрыта" style="color: gray;">Зарегестрироваться</span>
                        }
                    </td>
                </tr>
                <tfoot>
            </table>
        </div>
    }
</div>
